#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home {
    height: 370px;
    padding: 3px 68px;
}

#home p {
    font-size: 13px;
}

#home::before {
    height: 400px;
}

#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 157px;
    padding: 4px 23px;
    height: auto;
}

#h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}

#contentbox form {
    width: 80%;
}